Normal Flow
position: static

 In normal flow, each block-level 
element sits on top of the next 
one. Since this is the default 
way in which browsers treat 
HTML elements, you do not 
need a CSS property to indicate 
that elements should appear 
in normal flow, but the syntax 
would be:

 position: static; 

 Relative Positioning:
 position: relative

  p.example {
 position: relative;
 top: 10px;
 left: 100px;}

Relative positioning moves an element in relation to where it 
would have been in normal flow.

For example, you can move it 10 pixels lower than it would have 
been in normal flow or 20% to the right.
You can indicate that an element should be relatively positioned using the position property 
with a value of relative.

You then use the offset properties (top or bottom and 
left or right) to indicate how far to move the element from 
where it would have been in normal flow.

Absolute Positioning:
position: absolute

When the position property 
is given a value of absolute, 
the box is taken out of normal 
flow and no longer affects the 
position of other elements on 
the page. (They act like it is not 
there.) 

The box offset properties (top 
or bottom and left or right) 
specify where the element 
should appear in relation to its 
containing element.

 In this example, the heading has 
been positioned at the top of the 
page and 500 pixels from its left 
edge. The width of the heading is 
set to be 250 pixels wide.

 h1 {
 position: absolute;
 top: 0px;
 left: 500px;
 width: 250px;}
 p {
 width: 450px;}

Fixed Positioning
position: fixed

Fixed positioning is a type 
of absolute positioning that 
requires the position property 
to have a value of fixed.

It positions the element in 
relation to the browser window. 
Therefore, when a user scrolls 
down the page, it stays in the 
exact same place.

h1 {
 position: fixed;
 top: 0px;
 left: 50px;
 padding: 10px;
 margin: 0px;
 width: 100%;
 background-color: #efefef;}
 p.example {
 margin-top: 100px;}

 Overlapping elements:
 z-index

 h1 {
 position: fixed;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 10px;
 width: 100%;
 background-color: #efefef;
 z-index: 10;}
 p {
 position: relative;
 top: 70px;
 left: 70px;}

When boxes overlap if you want to control which element sits on top, you can use the z-index property.
Its value is a number, and the higher the number the closer that element 
is to the front. 
For example, an element with a z-index of 10 will appear over the top of one 
with a z-index of 5.

Floating Elements 
float


The float property allows you 
to take an element in normal 
flow and place it as far to the 
left or right of the containing 
element as possible.

Anything else that sits inside 
the containing element will 
flow around the element that is 
floated.

In this example, a <blockquote> element is 
used to hold a quotation. It's containing element is the <body> element.

The <blockquote> element is floated to the right, and the 
paragraphs that follow the quote flow around the floated element.

blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;}


    Clearing Floats:
    clear

The clear property allows you to say that no element (within 
the same containing element) should touch the left or right
hand sides of a box. It can take the following values:

left
The left-hand side of the box 
should not touch any other 
elements appearing in the same 
containing element.
 
right
The right-hand side of the 
box will not touch elements 
appearing in the same containing 
element.

both
Neither the left nor right-hand 
sides of the box will touch 
elements appearing in the same 
containing element.

none
Elements can touch either side.

Creating Multi-Column Layouts with Floats

 .column1of2 {
 float: left;
 width: 620px;
 margin: 10px;}
 .column2of2 {
 float: left;
 width: 300px;
 margin: 10px;}

 <h1>The Evolution of the Bicycle</h1>
 <div class="column1of2">
 <h3>The First Bicycle</h3>
 <p>In 1817 Baron von Drais invented a walking 
 machine that would help him get around the 
 royal gardens faster: two same-size ...</p>
 </div>
 <div class="column2of2">
 <h3>Bicycle Timeline</h3> ...
 </div>

Three Column layout:

.column1of3, .column2of3, .column3of3 {
 width: 300px;
 float: left;
 margin: 10px;}

 <h1>The Evolution of the Bicycle</h1>
 <div class="column1of3">
 <h3>The First Bicycle</h3> ...
 </div>
 <div class="column2of3">
 <h3>Further Innovations</h3> ...
 </div>
 <div class="column3of3">
 <h3>Bicycle Timeline</h3> ...
 </div>

 A Fixed Width and Liquid Layout

To create a fixed width layout, the width of the main boxes on 
a page will usually be specified in pixels (and sometimes their 
height, too).

The fixed width layout will stay the same width no matter what 
size the browser window is, whereas the liquid layout will 
stretch (or shrink) to fill the screen.

body {   /* this is for fixed width */
 width: 960px;
 margin: 0 auto;}
 #content {
 overflow: auto;
 height: 100%;}
 #nav, #feature, #footer {
 background-color: #efefef;
 padding: 10px;
 margin: 10px;}
 .column1, .column2, .column3 {
 background-color: #efefef;
 width: 300px;
 float: left;
 margin: 10px;}
 li {
 display: inline;
 padding: 5px;}

 body {  /* this is for  liquid layout
         The liquid layout uses 
         percentages to specify the width 
         of each box so that the design 
         will stretch to fit the size of the 
         screen. */
 width: 90%;
 margin: 0 auto;}
 #content {overflow: auto;}
 #nav, #feature, #footer {
 margin: 1%;}
 .column1, .column2, .column3 {
 width: 31.3%;
 float: left;
 margin: 1%;}
 .column3 {margin-right: 0%;}
 li {
 display: inline;
 padding: 0.5em;}
 #nav, #footer {
 background-color: #efefef;
 padding: 0.5em 0;}
 #feature, .article {
 height: 10em;
 margin-bottom: 1em;
 background-color: #efefef;}


<body>
 <div id="header">
  <h1>Logo</h1>
  <div id="nav">
   <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Products</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
   </ul>
  </div>
 </div>
 <div id="content">
  <div id="feature">
   <p>Feature</p>
  </div>
  <div class="article column1">
   <p>Column One</p>
  </div>
  <div class="article column2">
   <p>Column Two</p>
  </div>
  <div class="article column3">
   <p>Column Three</p>
  </div>
 </div>
 <div id="footer">
  <p>&copy; Copyright 2011</p>
 </div>
 </body>

 Importing Multiple Stylesheets

 There are two ways to add multiple style sheets to a page:
 1: Your HTML page can link 
    to one style sheet and that 
    stylesheet can use the @import 
    rule to import other style sheets.

 2: In the HTML you can use a 
    separate <link> element for 
    each style sheet.

  As with all style sheets, if two 
 rules apply to the same element 
 then rules that appear later in a 
 document will take precedence 
 over previous rules. 

 Example:
  <!DOCTYPE html
 <html>
 <head>
  <title>Layout</title>
  <link rel="stylesheet" type="text/css" href="css/960_12_col.css" />
  <style type="text/css">
   @font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/Quicksand_Book-webfont.woff') format('woff'),
     url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
     url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;}
   body {
    color: #ffffff;
    background: #413f3b url("images/bg.jpg");
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    margin: 0px;
    text-align: center;}
   a {
    color: #b5c1ad;
    text-decoration: none;}
   a:hover {
    color: #ffffff;}
   .header {
    background-image: url("images/bg-header.jpg");
    padding: 0px 0px 0px 0px;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;}
   .nav {
    float: right;
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    padding: 45px 0px 0px 0px;
    text-align: right;}
   .wrapper {
    width: 960px;
    margin: 0px auto;
    background-image: url("images/bg-triangle.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-align: left;}
   .logo {
    margin-bottom: 20px;}
   h1, h2 {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;}
   h1 {
    font-size: 240%;
    margin-top: 140px;}
   .date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #b5c1ad;}
   .intro {
    clear: left;
    font-size: 90%;
    line-height: 1.4em;}
   .main-story {
    background-image: url("images/triangles.png");
    background-repeat: no-repeat;
    background-position: 122px 142px;
    height: 570px;}
   .more-articles {
    border-top: 1px solid #ffffff;
    padding: 10px;}
   .more-articles p {
    border-bottom: 1px solid #807c72;
    padding: 5px 0px 15px 0px;
    font-size: 80%;}
     .more-articles p:last-child {
    border-bottom: none;}
   .footer {
    clear: both;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;}
   .footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: right;}
   .footer a {
    color: #807c72;}
  </style>
 </head>
 <body>
  <div class="header">
   <div class="container_12">
    <div class="grid_5">
     <img src="images/logo.png" alt="Pedal Faster - The modern bicycle magazine" 
      width="216" height="37" class="logo" />
     <img src="images/header-triangle.png" alt="" width="116" height="100" />
    </div>
    <div class="nav grid_7">
     <a href="">home</a> / <a href="">news</a> / <a href="">archives</a> /
      <a href="">about</a> / <a href="">contact</a>
    </div>
   </div>
  </div>
  <div class="wrapper">
   <div class="main-story container_12">
    <div class="grid_6 push_6">
     <h1><a href="">Fixed Gear Forever</a></h1>
    </div>
    <div class="intro grid_3 push_9">
     <p class="date">16 APRIL 2011</p>
     <p>The veloheld combines minimalist design with superb quality. Devoid of 
       excessive graphics and gear shift components, the veloheld product range 
       delights us with its beauty and simplicity ... </p>
      </div>
   </div><!-- .main-story -->
   <div class="more-articles container_12">
    <h2 class="grid_12"><a href="">More Articles</a></h2>
    <div class="grid_3">
     <img src="images/more1.jpg" alt="The road ahead" width="220" height="125" />
     <p><a href="">On the Road: from the fixed gear fanatic's point of view</a></p>
     <p><a href="">Brand History: Pashley Cycles - hand-built in England</a></p>
     <p><a href="">Frame Wars: Innovations in cycle manufacture and repair</a></p>
    </div>
    <div class="grid_3">
     <img src="images/more2.jpg" alt="Sketchbook" width="220" height="125" />
     <p><a href="">Touring Diary: A sketchbook in your basket</a></p>
     <p><a href="">Top Ten Newcomers for 2012: A peek at what's to come</a></p>
     <p><a href="">InnerTube: The best cycling videos on the web</a></p>
    </div>
    <div class="grid_3">
     <img src="images/more3.jpg" alt="Repair shop sign" width="220" height="125" />
     <p><a href="">Product Review: All baskets were not created equal</a></p>
     <p><a href="">Going Public: Out &amp; About with the founder of Public</a></p>
     <p><a href="">Cycle Lane Defence: Know your rights</a></p>
    </div>
    <div class="grid_3">
     <img src="images/more4.jpg" alt="Schwinn Spitfire" width="220" height="125" />
     <p><a href="">Bicyle Hall of Fame: The 1958 Schwinn Spitfire</a></p>
     <p><a href="">Reader Survey: Share your thoughts with us!</a></p>
     <p><a href="">Chain Gang: The evolution of the humble bike chain</a></p>
    </div>
   </div><!-- .more-articles -->
  </div><!-- .wrapper -->
  <div class="footer clearfix">
   <div class="container_12">
    <p class="grid_12"><a href="">Legal Information</a> | <a href="">Privacy 
      Policy</a> | <a href="">Copyright &copy; Pedal Faster 2011</a></p>
   </div>
  </div>
 </body>
 </html>

